.super-box(empty=empty)
    .super-box-left
        .super-box-image &omega;
        .super-box-name 
            input#name(type="text", name="name" placeholder="Name" autocomplete="off", value=name)
        .super-box-desc
            textarea#desc(name="desc", placeholder="Description")= desc

    if (!empty)       
        .super-box-right
            .super-box-list#musicList
                each music, idx in playlist
                    .super-box-item(id=music.id)
                        .super-box-music-name !{(idx + 1) + '. ' +music.name}
                        .super-box-item-overlay
                            a(href=music.link).super-box-music-link= music.link
                            .supre-box-music-remove(id=music._id)  x

            .super-box-input
                input#music(autocomplete="off", type="text", name="music", placeholder="Only youtube link")
                .add-to-playlist#addToPlayList(super=_id) +

if (empty)
    .super-playlist-add.button#superPlayListAdd create

